
html{
	height: 100%;
}
body {
	height: 100%;
}
.left-side{
	background:#fff;
	height:100%;
}
.left-side .logo{
	margin:20px 0px;
}
.right-side{
	background:url(../img/pict4_ld.jpg) center center no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	height:100%;
}
.control-label{color:#8a949e; margin:10px 0px 5px 0px;}
#sesion, #sesion .contenido{height:100%;}
#sesion a{
	display:block;
	color: #0db5ff;
    text-decoration: none;
}
.bordertop{
	border-top:1px solid #ddd
}
#sesion .forget-pass{height:30px}
#sesion .btn-login{text-align:center;margin:5px;min-height:30px;}
#sesion .btn-primary{background:#0db5ff;color:#fff; width:80%}
.user {font-size:12px;}
.user .btn-login{text-align:right;margin:5px;min-height:30px;}
.user label{ color:#111 !important; font-weight:normal !important; margin-top:0px !important; padding-top:1px !important;}
