<div class="row">

  <div class="col-md-12 row-new-cv">
    <%= render "form.html",
      changeset: @changeset,
      action: user_path(@conn, :update, @profile) %>
  </div>
    <%= link "Regresar", to: user_path(@conn, :index) %>
</div>
