<div class="row">

  <div class="col-md-12 row-new-cv">

    <div class="col-md-6">

    <div class="form-group">
        <%= link "Buscar", to: search_path(@conn, :index), class: "button button-login button-search" %>
      </div>

    </div>

    <div class="col-md-6">
        <div class="form-group">
      <%= link "Agregar usuario", to: user_path(@conn, :new), class: "button button-login button-search" %>
        </div>
    </div>

  </div>

</div>
