<div class="row">

  <div class="col-md-12 row-new-cv">

  <div class="col-md-6">

  </div>

  <div class="col-md-6">

  </div>

    <div class="form-group box-button-cv">
      <%= link "Agregar usuario", to: user_path(@conn, :new), class: "button button-login" %>
    </div>

  </div>

</div>
