<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sitio de Captura de CVs">
    <meta name="author" content="RecluIT">

    <title>Captura de Curriculums</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
    <header>
      <div class="circle">
        <br />
        <H2>Registro de Curriculums</H2>
      </div>
      <%= if Peopleware.LoginController.get_userid(@conn) do %>
      <div class="col-xs-12 text-right">
        <a href="/logout">Salir de sesión</a>
      </div>
      <%= end %>
    </header>

    <main>
      <%= @inner %>
    </main>

    <footer>
    </footer>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>

</html>
