<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sitio de Captura de CVs">
    <meta name="author" content="RecluIT">

    <title>Captura de Curriculums</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse-1">
                    <span class="sr-only">RecluIT Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.recluit.com">
              <img class="header-image" alt="RecluIT Log"
                   src="<%= static_path(@conn, "/images/logo.png") %>">
            </a>
          </div><!-- /navbar-header -->

          <div class="collapse navbar-collapse navbar-collapse-1">
            <ul class="nav navbar-nav">

            <li>
              <p>Contáctanos: contacto@recluit.com, (55) 5393-4085, (55) 6840-2901, (55) 7030-5164</p>
            </li>

            </li>
              <%= if Peopleware.LoginController.get_userid(@conn) do %>
                <li><a href="/logout">Logout</a></li>
              <%= end %>

            </ul>
          </div>

        </div><!-- /container-fluid -->
      </nav><!-- /navbar navbar-default -->
    </header>

    <h2 class="register">Registro de
    <span>curriculums</span></h2>
    <hr class="line-title" /><div class="circle"></div>

    <main>
      <%= @inner %>
    </main>

    <footer>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.phoenix.min.js") %>"></script>
    <script>require("web/static/js/app")</script>

    <script type="text/javascript">
      function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode

        if((charCode == 40) || (charCode == 41) || (charCode == 45)) return true;

        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
      }

      function isSalary(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode

        if((charCode == 44) || (charCode == 46)) return true;

        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
      }

      $('#profile_last_salary').keyup(function (event) {
        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) {
            event.preventDefault();
        }

        var currentVal = $(this).val();
        var testDecimal = testDecimals(currentVal);
        if (testDecimal.length > 1) {
            console.log("You cannot enter more than one decimal point");
            currentVal = currentVal.slice(0, -1);
        }
        $(this).val(replaceCommas(currentVal));
    });

    function testDecimals(currentVal) {
        var count;
        currentVal.match(/\./g) === null ? count = 0 : count = currentVal.match(/\./g);
        return count;
    }

    function replaceCommas(yourNumber) {
        var components = yourNumber.toString().split(".");
        if (components.length === 1)
            components[0] = yourNumber;
        components[0] = components[0].replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        if (components.length === 2)
            components[1] = components[1].replace(/\D/g, "");
        return components.join(".");
    }


    $('.profile-result').click(function(){
      $(this).children('.profile-resume').fadeToggle();
    });

    $(function() {
       $(".search-control-change").change(function() {
          $("#search_form").submit();
       });
     });

    </script>
  </body>

</html>
