<h3>Curriculum: <%= @profile.id %></h3>

<%= render "form.html", changeset: @changeset,
                        action: profile_path(@conn, :update, @profile) %>

<%= link "Regresar", to: profile_path(@conn, :index) %>
