<h4>Nuevo Curriculum</h4>

<%= render "form.html", changeset: @changeset,
                        action: profile_path(@conn, :create),
                        states: @states,
                        contractings: @contractings,
                        errors: @errors %>

<%= link "Regresar", to: profile_path(@conn, :index) %>
