<div class="row">

  <div class="col-md-12 row-new-cv">

    <h3>Nuevo Curriculum</h3>

      <%= render "form.html",
        changeset: @changeset,
        action: profile_path(@conn, :create) %>


  </div>

</div>
