<div class="container-fluid">

      <h3 class="welcome">¡Bienvenido!</h3>

      <%= link "Empieza a capturar tu CV", class: "button-cv", to: profile_path(@conn, :index) %>

      <a href="/signup" class="link-register">¿Aún no tienes una cuenta?</a>

</div>
