<div class="container-fluid">

    <!-- <div class="col-sm-6">
      <a href="/signin">Empieza a capturar tu CV</a>
    </div>

    <div class="col-sm-6">
      <a class="pull-right" href="/signup">¿Aún no tienes una cuenta?</a>
    </div> -->

      <h3>¡Bienvenido!</h3>

      <a href="#" class="cv-button">Empieza a capturar tu CV</a>

      <a href="#" class="link">¿Aún no tienes una cuenta?</a>

</div>
