<div class="row">

  <div class="col-md-12 row-new-cv">


    <p>&nbsp;&nbsp; Gracias por registar tus datos en RecluIT, pronto te llegará un correo<br >
    &nbsp;&nbsp; para validar tu cuenta y puedas así continuar con la captura de tu<br >
    &nbsp;&nbsp; curriculum
</div>
